<div
  class="flex justify-between items-center max-lg:gap-8 gradient-background"
>
  <!-- Contenido -->
  <form
    class="scrollbar-container max-w-[500px] max-h-dvh max-lg:max-w-[unset] w-full"
    [formGroup]="form"
    (ngSubmit)="companyLogin()"
  >
    <div
      class="h-full min-h-dvh flex flex-col justify-center p-4 sm:p-10 shadow-sm dark:bg-[#E6E6FA] dark:border-r-[1px] dark:border-r-neutral-600"
    >
      <!-- Título -->
      <div class="text-center">
        <h1 class="block text-2xl font-bold text-black">Ingresa como Empresa</h1>
        <p class="mt-2 text-sm text-dark-gray">
          Aún no tienes una cuenta?
          <a
            class="text-blue-400 decoration-2 hover:underline focus:outline-none focus:underline"
            routerLink="/empresa/registrarse"
          >
            Registrate
          </a>
        </p>
      </div>

      <!-- Inputs -->
      <div class="mt-5">
        <!-- Form -->
        <form>
          <div class="grid gap-y-6">
            <!-- Email -->
            <div>
              <label
                for="username"
                class="block w-fit text-sm font-medium mb-2 dark:text-neutral-200"
                >Correo Electrónico</label
              >
              <div class="relative">
                <!-- Part: Icon -->
                <div
                  class="absolute inset-y-0 start-0 flex items-center pointer-events-none z-20 ps-4"
                >
                  <svg
                    class="shrink-0 size-[18px] text-neutral-100 dark:text-neutral-900"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <rect width="20" height="16" x="2" y="4" rx="2"></rect>
                    <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
                  </svg>
                </div>

                <!-- Part: Input -->
                <input
                  id="username"
                  name="username"
                  formControlName="username"
                  type="text"
                  class="ps-11 block w-full py-3 px-4 text-sm ring-0 rounded-md disabled:opacity-50 disabled:pointer-events-none border-gray-200 dark:bg-neutral-100 dark:border-neutral-700 dark:focus:border-blue-400 dark:focus:border-opacity-50 focus:ring-0 dark:text-neutral-900 dark:placeholder-neutral-500"
                  placeholder="trabajador@empresa.com"
                />
              </div>
              <!-- Validators -->
              @if (isRequired({field: 'username'})) {
                <small class="text-red-400">Este campo es requerido</small>
              }
              @if (hasEmailError({field: 'username'})) {
                <small class="text-red-400">El correo debe ser válido</small>
              }
              @if (hasMaxLengthError({field: 'username'})) {
                <small class="text-red-400">El correo no debe exceder los 150 caracteres</small>
              }
            </div>

            <!-- Strong Password -->
            <div>
              <label
                for="strong-password-with-indicator-1"
                class="block w-fit text-sm font-medium mb-2 dark:text-neutral-200"
                >Contraseña</label
              >
              <div class="relative flex-1">
                <div class="relative">
                  <!-- Part: Icon -->
                  <div
                    class="absolute inset-y-0 start-0 flex items-center pointer-events-none z-20 ps-4"
                  >
                    <svg
                      class="shrink-0 size-[18px] text-neutral-300 dark:text-neutral-900"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path
                        d="M2 18v3c0 .6.4 1 1 1h4v-3h3v-3h2l1.4-1.4a6.5 6.5 0 1 0-4-4Z"
                      ></path>
                      <circle cx="16.5" cy="7.5" r=".5"></circle>
                    </svg>
                  </div>

                  <!-- Part: Input -->
                  <input
                    id="strong-password-with-indicator-1"
                    type="password"
                    name="password"
                    formControlName="password"
                    class="ps-11 block w-full py-3 px-4 text-sm ring-0 rounded-md disabled:opacity-50 disabled:pointer-events-none border-gray-200 dark:bg-neutral-100 dark:border-neutral-700 dark:focus:border-blue-400 dark:focus:border-opacity-50 dark:text-neutral-900 dark:placeholder-neutral-500"
                    placeholder="••••••••••••••"
                  />

                  <!-- Part: Eye button -->
                  <button
                    type="button"
                    data-hs-toggle-password='{
                    "target": "#strong-password-with-indicator-1"
                  }'
                    class="absolute inset-y-0 end-0 flex items-center z-20 px-3 cursor-pointer text-gray-400 rounded-e-md focus:outline-none focus:text-blue-500 dark:text-neutral-500 dark:focus:text-blue-500"
                  >
                    <svg
                      class="shrink-0 size-3.5"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path
                        class="hs-password-active:hidden"
                        d="M9.88 9.88a3 3 0 1 0 4.24 4.24"
                      ></path>
                      <path
                        class="hs-password-active:hidden"
                        d="M10.73 5.08A10.43 10.43 0 0 1 12 5c7 0 10 7 10 7a13.16 13.16 0 0 1-1.67 2.68"
                      ></path>
                      <path
                        class="hs-password-active:hidden"
                        d="M6.61 6.61A13.526 13.526 0 0 0 2 12s3 7 10 7a9.74 9.74 0 0 0 5.39-1.61"
                      ></path>
                      <line
                        class="hs-password-active:hidden"
                        x1="2"
                        x2="22"
                        y1="2"
                        y2="22"
                      ></line>
                      <path
                        class="hidden hs-password-active:block"
                        d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z"
                      ></path>
                      <circle
                        class="hidden hs-password-active:block"
                        cx="12"
                        cy="12"
                        r="3"
                      ></circle>
                    </svg>
                  </button>
                </div>
                <div
                  id="hs-strong-password-popover"
                  class="hidden absolute z-[100] w-full bg-white shadow-md rounded-lg p-4 dark:bg-neutral-900 dark:border dark:border-neutral-700 dark:divide-neutral-700"
                >
                  <div
                    id="hs-strong-password-in-popover"
                    data-hs-strong-password='{
                      "target": "#strong-password-with-indicator-1",
                      "hints": "#hs-strong-password-popover",
                      "stripClasses": "hs-strong-password:opacity-100 hs-strong-password-accepted:bg-blue-500 h-2 flex-auto rounded-full bg-blue-500 opacity-25 mx-1",
                      "mode": "popover"
                    }'
                    class="mt-2 mb-4 -mx-1 flex"
                  ></div>

                  <div class="mb-3">
                    <span class="text-sm text-gray-800 dark:text-neutral-200"
                      >Nivel:
                    </span>
                    <span
                      data-hs-strong-password-hints-weakness-text='["No detectado", "Débil", "Insegura", "Segura", "Muy segura", "Indetectable"]'
                      class="text-sm font-semibold text-gray-800 dark:text-neutral-200"
                    ></span>
                  </div>

                  <ul
                    class="space-y-1 text-sm text-gray-500 dark:text-neutral-500"
                  >
                    <li
                      data-hs-strong-password-hints-rule-text="min-length"
                      class="hs-strong-password-active:text-blue-400 flex items-center gap-x-2"
                    >
                      <span class="hidden" data-check="">
                        <svg
                          class="shrink-0 size-4"
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <polyline points="20 6 9 17 4 12"></polyline>
                        </svg>
                      </span>
                      <span data-uncheck="">
                        <svg
                          class="shrink-0 size-4"
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path d="M18 6 6 18"></path>
                          <path d="m6 6 12 12"></path>
                        </svg>
                      </span>
                      La cantidad mínima de caracteres es 6.
                    </li>
                    <li
                      data-hs-strong-password-hints-rule-text="lowercase"
                      class="hs-strong-password-active:text-blue-400 flex items-center gap-x-2"
                    >
                      <span class="hidden" data-check="">
                        <svg
                          class="shrink-0 size-4"
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <polyline points="20 6 9 17 4 12"></polyline>
                        </svg>
                      </span>
                      <span data-uncheck="">
                        <svg
                          class="shrink-0 size-4"
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path d="M18 6 6 18"></path>
                          <path d="m6 6 12 12"></path>
                        </svg>
                      </span>
                      Debe contener minúsculas.
                    </li>
                    <li
                      data-hs-strong-password-hints-rule-text="uppercase"
                      class="hs-strong-password-active:text-blue-400 flex items-center gap-x-2"
                    >
                      <span class="hidden" data-check="">
                        <svg
                          class="shrink-0 size-4"
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <polyline points="20 6 9 17 4 12"></polyline>
                        </svg>
                      </span>
                      <span data-uncheck="">
                        <svg
                          class="shrink-0 size-4"
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path d="M18 6 6 18"></path>
                          <path d="m6 6 12 12"></path>
                        </svg>
                      </span>
                      Debe contener mayúsculas.
                    </li>
                    <li
                      data-hs-strong-password-hints-rule-text="numbers"
                      class="hs-strong-password-active:text-blue-400 flex items-center gap-x-2"
                    >
                      <span class="hidden" data-check="">
                        <svg
                          class="shrink-0 size-4"
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <polyline points="20 6 9 17 4 12"></polyline>
                        </svg>
                      </span>
                      <span data-uncheck="">
                        <svg
                          class="shrink-0 size-4"
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path d="M18 6 6 18"></path>
                          <path d="m6 6 12 12"></path>
                        </svg>
                      </span>
                      Debe contener números.
                    </li>
                    <li
                      data-hs-strong-password-hints-rule-text="special-characters"
                      class="hs-strong-password-active:text-blue-400 flex items-center gap-x-2"
                    >
                      <span class="hidden" data-check="">
                        <svg
                          class="shrink-0 size-4"
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <polyline points="20 6 9 17 4 12"></polyline>
                        </svg>
                      </span>
                      <span data-uncheck="">
                        <svg
                          class="shrink-0 size-4"
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path d="M18 6 6 18"></path>
                          <path d="m6 6 12 12"></path>
                        </svg>
                      </span>
                      Debe contener caracteres especiales.
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- Checkbox -->
            <div class="grid space-y-3">
              <div class="relative flex items-start">
                <div class="flex items-center h-5 mt-1">
                  <input
                    id="hs-checkbox-delete"
                    name="hs-checkbox-delete"
                    type="checkbox"
                    class="appearance-none rounded text-blue-500 disabled:opacity-50 disabled:pointer-events-none bg-neutral-100 border-dark-5 checked:bg-blue-500 focus:outline-none focus:ring-0 focus:border-none focus:ring-offset-1 focus:ring-offset-blue-500"
                    aria-describedby="hs-checkbox-delete-description"
                    [checked]="rememberMe"
                  />
                </div>
                <label for="hs-checkbox-delete" class="ms-3">
                  <span class="block text-sm text-neutral-600">Recuerdame</span>
                  <span
                    id="hs-checkbox-delete-description"
                    class="block text-sm text-neutral-500"
                    >Recuérdame por los próximos 30 días</span
                  >
                </label>
              </div>
            </div>

            <button
              [disabled]="form.invalid"
              (click)="companyLogin()"
              type="button"
              class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:bg-blue-600 disabled:opacity-50 disabled:pointer-events-none transition-colors duration-300"
            >
              Ingresar
            </button>
          </div>
        </form>
        <!-- End Form -->
      </div>
    </div>
  </form>
</div>
